body {
	color: white;
	background: black;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
/* CSS HEX */
--davys-grey: #565554ff;
--celadon: #96e6b3ff;
--silver-metallic: #ada8b6ff;
--dark-purple: #23022eff;
--spanish-violet: #573280ff;

/* CSS HSL */
--davys-grey: hsla(30, 1%, 33%, 1);
--celadon: hsla(142, 62%, 75%, 1);
--silver-metallic: hsla(261, 9%, 69%, 1);
--dark-purple: hsla(285, 92%, 9%, 1);
--spanish-violet: hsla(268, 44%, 35%, 1);

/* SCSS HEX */
$davys-grey: #565554ff;
$celadon: #96e6b3ff;
$silver-metallic: #ada8b6ff;
$dark-purple: #23022eff;
$spanish-violet: #573280ff;

/* SCSS HSL */
$davys-grey: hsla(30, 1%, 33%, 1);
$celadon: hsla(142, 62%, 75%, 1);
$silver-metallic: hsla(261, 9%, 69%, 1);
$dark-purple: hsla(285, 92%, 9%, 1);
$spanish-violet: hsla(268, 44%, 35%, 1);

/* SCSS RGB */
$davys-grey: rgba(86, 85, 84, 1);
$celadon: rgba(150, 230, 179, 1);
$silver-metallic: rgba(173, 168, 182, 1);
$dark-purple: rgba(35, 2, 46, 1);
$spanish-violet: rgba(87, 50, 128, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #565554ff, #96e6b3ff, #ada8b6ff, #23022eff, #573280ff);
$gradient-right: linear-gradient(90deg, #565554ff, #96e6b3ff, #ada8b6ff, #23022eff, #573280ff);
$gradient-bottom: linear-gradient(180deg, #565554ff, #96e6b3ff, #ada8b6ff, #23022eff, #573280ff);
$gradient-left: linear-gradient(270deg, #565554ff, #96e6b3ff, #ada8b6ff, #23022eff, #573280ff);
$gradient-top-right: linear-gradient(45deg, #565554ff, #96e6b3ff, #ada8b6ff, #23022eff, #573280ff);
$gradient-bottom-right: linear-gradient(135deg, #565554ff, #96e6b3ff, #ada8b6ff, #23022eff, #573280ff);
$gradient-top-left: linear-gradient(225deg, #565554ff, #96e6b3ff, #ada8b6ff, #23022eff, #573280ff);
$gradient-bottom-left: linear-gradient(315deg, #565554ff, #96e6b3ff, #ada8b6ff, #23022eff, #573280ff);
$gradient-radial: radial-gradient(#565554ff, #96e6b3ff, #ada8b6ff, #23022eff, #573280ff);
